<div *ngIf="(success$ | async)">Task successfully created! You can go back to the <a [routerLink]="['/tasks']">Task
    List</a>!</div>

<div *ngIf="!(success$ | async)">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="title">Task Title: (required)</label>
      <input ngModel required name="title" type="text" class="form-control" placeholder="Enter tasks title">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Task Description: (optional)</label>
      <input ngModel name="description" type="text" class="form-control" placeholder="Enter Description">
    </div>

    <button class="btn btn-primary">Submit</button>
  </form>
</div>