<button class="btn btn-success" [routerLink]="['new']">
  <span style="display: inline-block;">
    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
    New
  </span>
</button>
<div *ngIf="(tasks$ | async).length == 0">

  <h4>Active tasks:</h4>
  <p>There are no active tasks.</p>
  <p style="color: tomato;">Click on the 'New' button to get started!</p>
</div>
<div style="display:inline;" *ngIf="(tasks$ | async).length !=0">
  <button class="btn btn-info" (click)="onView()" [disabled]="selectedTaskIndex == null">
    <span style="display: inline-block;">
      <i class="fa fa-eye" aria-hidden="true"></i>
      View
    </span>
  </button>
  <button class="btn btn-success" (click)="onComplete()" [disabled]="selectedTaskIndex == null"><span
      style="display: inline-block;">
      <i class="fa fa-check" aria-hidden="true"></i>
      Complete
    </span></button>
  <button class="btn btn-secondary" (click)="onEdit()" [disabled]="selectedTaskIndex == null"><span
      style="display: inline-block;">
      <i class="fa fa-edit" aria-hidden="true"></i>
      Edit
    </span></button>
  <button class="btn btn-danger" (click)="onDelete()" [disabled]="selectedTaskIndex == null">
    <span style="display: inline-block;">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      Delete
    </span>
  </button>

  <h4>Active tasks:</h4>
  <p>Select a task so enable View/Complete/Edit/Delete:</p>
  <ul class="list-group">
    <li (click)="onSelectTask(i, task.id)" [ngClass]="getTaskClass(i)"
      *ngFor="let task of tasks$ | async; let i = index;">{{task.title}}</li>
  </ul>
</div>

<br>
<br>

<h4>Completed tasks:</h4>
<div *ngIf="(completedTasks$ | async).length == 0">
  <p>There are no completed tasks.</p>
</div>
<div *ngIf="(completedTasks$ | async).length != 0">
  <ul class="list-group">
    <li class="list-group-item disabled" *ngFor="let task of completedTasks$ | async;">{{task.title}}</li>
  </ul>
</div>